{{title breadCrumb}}


<div class="panel-body">

  {{screen-messages-service fileUploadForm=true}}

  {{!-- <div class="panel panel-gray right pappg-panel">
    <div class="panel-body">
      <a data-test-other-supplementary-docs-pappg-link href="{{props.pappgLinks.personnelBioInfo}}" target="_blank" title="opens in a new window">{{breadCrumb}} (PAPPG) <i class="fa fa-external-link" aria-hidden="true"></i></a>
    </div>
  </div> --}}

  <p class="bold" data-test-upload-instructions-title>Instructions to upload {{breadCrumb}}:</p>
  <ul data-test-upload-instructions>
      <li data-test-upload-instructions1>Only one document can be uploaded. If multiple documents need to be added in this section, they must be combined into one document prior to upload.</li>
      <li data-test-upload-instructions2>Accepted file types include: Adobe PDF</li>
      <li data-test-upload-instructions3>The document must conform to solicitation-specific and PAPPG instructions</li>
      <li data-test-upload-instructions4>{{{PROPOSAL_CONSTANTS.UPLOAD_DOCUMENT.SHOULD_NOT_PAGE_NUMBER}}}</li>
      <li data-test-upload-instructions5>Max file size permitted is {{maxFileSizeDisplay}}</li>
  </ul>

  {{single-file-upload-with-messages-service
    sectionInfo=sectionInfo
    fileName=fileName
    pendingFileName=pendingFileName
    previewAccepted=previewAccepted
    onDelete=(action 'deleteFile')
    onFileChange=(action 'uploadFile')
    onFileBrowseClick=(action 'fileBrowseClick')
    onFileClick=(action 'fileLinkClick')
    isLoading=isDocumentLoading
    isError=isError
    selectedFilePath=selectedDocumentPath
    editPermission='proposal.data.modify'}}

</div>