{{title "Proposal Access for SPO/AOR"}}




<div class="panel-body">
  {{screen-messages-service }}

  <p data-test-proposal-access-instruction>Below is the current proposal access for the SPO and AOR, as well as any errors that will prevent submission and/or warnings for proposal {{model.propPrepId}}.</p>

  <div class="row">
    <div class="col-xs-6 no-pad">
        <label><span data-test-proposal-access-heading1>Sponsored Projects Office (SPO)</span>
          <p class="not-bold" data-test-proposal-access-setting1>{{spoAccessLevel}}</p>
        </label>
    </div>
    <div class="col-xs-6">
        <label><span data-test-proposal-access-heading2>Authorized Organizational Representative (AOR)</span>
          <p class="not-bold" data-test-proposal-access-setting2>{{aorAccessLevel}}</p>
        </label>
    </div>
  </div>

  <br>

  <div class="panel-teal">

    <div class="panel-header" data-test-proposal-access-submission-notifications-header>
        <span data-test-proposal-access-notification-header>Submission Errors and Warnings</span>
        <a id="collapseLink" href="#submissionNotifications" data-toggle="collapse" {{action "toggleNotifications" "#collapseLink"}} data-test-proposal-access-collapse-link class="pull-right panel-inline-link">
            <button class="btn btn-default btn-sm" data-test-proposal-access-collapse-button><span class="btn-text" data-test-proposal-access-collapse-button-text>Expand</span> <i class="fa fa-angle-right" aria-hidden="true"></i></button>
        </a>
    </div>

    <div id="submissionNotifications" class="panel-body collapse" aria-expanded="false">
      <ul data-test-proposal-access-submission-notifications-body>
        {{#if hasComplianceErrors}}

          <div class="alert alert-danger hard-stop" role="alert">
            <span data-test-compliance-errors-subtitle>{{errorHeaderPFUBR}}</span>
            {{#each orderedComplianceStatusErrors as |errorSection|}}
              <ul class="alert-section">
                {{#unless (eq errorSection.messages.length 0)}}
                  <li class="noBullet bold reverseIndentLeft">{{errorSection.section}}</li>
                  {{#each errorSection.messages as |message|}}
                      <li data-test-compliance-error>{{{message}}}</li>
                  {{/each}}
                {{/unless}}
              </ul>
            {{/each}}
          </div>

        {{/if}}
        {{#if hasComplianceWarnings}}

          <div class="alert alert-warning" role="alert">
            <span data-test-compliance-errors-subtitle>{{warningHeaderPFUBR}}</span>
            {{#each orderedComplianceStatusWarnings as |warningSection|}}
              <ul class="alert-section">
                {{#unless (eq warningSection.messages.length 0)}}
                  <li class="noBullet bold reverseIndentLeft">{{warningSection.section}}</li>
                  {{#each warningSection.messages as |message|}}
                      <li data-test-compliance-error>{{{message}}}</li>
                  {{/each}}
                {{/unless}}
              </ul>
            {{/each}}
          </div>

        {{/if}}
        {{#if (and (not hasComplianceErrors) (not hasComplianceWarnings))}}
            <div class="alert alert-success" role="alert">
                <span data-test-compliance-success-subtitle>There are no errors or warnings for this proposal</span>
            </div>
        {{/if}}
      </ul>
    </div>

  </div>

</div>

<div class="panel-footer">
  {{link-to "Change Proposal Access" "proposal.proposal-access.change-access" class="btn btn-primary"}}
  {{link-to "Cancel" "proposal" class="btn btn-default not-active"}}
</div>
