{{title breadCrumb}}

<div class="panel-body">

  {{screen-messages-service fileUploadForm=true}}

  <div class="panel panel-gray right pappg-panel">
    <div class="panel-body">
      <a data-test-suggested-reviewers-pappg-link href="https://www.nsf.gov/pubs/policydocs/pappg17_1/pappg_2.jsp#IIC1b" target="_blank" title="opens in a new window">{{breadCrumb}} (PAPPG) <i class="fa fa-external-link" aria-hidden="true"></i></a>
    </div>
  </div>

  <p class="bold" data-test-upload-instructions-title>Instructions to upload {{breadCrumb}}:</p>
  <ul data-test-upload-instructions>
      <li data-test-upload-instructions1>This is a single-copy document. Reviewers will not see this document. It is for NSF use only.</li>
      <li data-test-upload-instructions2>Only 1 document can be uploaded</li>
      <li data-test-upload-instructions3>Accepted file types include: Adobe PDF</li>
      <li data-test-upload-instructions4>
        Please refer to the <a data-test-file-upload-pappg-link href="{{props.pappgLinks.documentUploadInstructions}}" target="_blank" title="opens in a new window">Format of the proposal (PAPPG) <i class="fa fa-external-link" aria-hidden="true"></i></a>
        for all margin and spacing requirements and the <a data-test-file-upload-propprep-site-faq-link href="{{props.proposalPrepSiteFAQ.faq}}" target="_blank" title="opens in a new window">Proposal Preparation Site FAQs</a> for font type and size requirements.&nbsp;
      </li>
      <li data-test-upload-instructions5>{{{PROPOSAL_CONSTANTS.UPLOAD_DOCUMENT.SHOULD_NOT_PAGE_NUMBER}}}</li>
      <li data-test-upload-instructions6>For suggested reviewers, provide the first name, middle initial, last name, e-mail address, and organization affiliation</li>
      <li data-test-upload-instructions7>In order to avoid suggesting reviewers who may have a conflict of interest with you or your organization, see <a data-test-conflicts-of-interests-pappg-link href="{{props.pappgLinks.conflictsOfInterest}}" target="_blank" title="opens in a new window">Potentially Disqualifying Conflicts of Interest (PAPPG) <i class="fa fa-external-link" aria-hidden="true"></i></a>, which may be of use in preparation of your list.</li>
      <li data-test-upload-instructions8>Max file size permitted is {{maxFileSizeDisplay}}</li>
  </ul>

  {{single-file-upload-with-messages-service
    sectionInfo=sectionInfo
    fileName=fileName
    pendingFileName=pendingFileName
    previewAccepted=previewAccepted
    onDelete=(action 'deleteFile')
    onFileChange=(action 'uploadFile')
    onFileBrowseClick=(action 'fileBrowseClick')
    onFileClick=(action 'fileLinkClick')
    isLoading=isDocumentLoading
    isError=isError
    selectedFilePath=selectedDocumentPath
    editPermission='proposal.data.modify'}}

</div>
